---
import MapLayout from "../../../components/maps/joao_monlevade/MapLayout.astro";
import Astro_Dashboard2 from "../../../components/maps/divinopolis/div_2017.astro";
---

<MapLayout title="">
  <div>
    <Astro_Dashboard2 />
  </div>
</MapLayout>
