---
import MapLayout from "../../layouts/MapLayout.astro";
import DashOnibus from "../../components/maps/joao_monlevade/astro_onibus.astro";
let maps = ["dashboard4", "dashboard2", 'dashboard_onibus'];
---

<MapLayout maps={maps} title="">
  <div>
    <DashOnibus />
  </div>
</MapLayout>
