---
import MapLayout from "../../layouts/MapLayout.astro";
import Astro_Dashboard4 from "../../components/maps/joao_monlevade/astro_dashboard4.astro";
let maps = ['dashboard4', 'dashboard2']
---

<MapLayout maps={maps} title="">
  <div>
    <Astro_Dashboard4 />
  </div>
</MapLayout>
