---
import MapLayout from "../../layouts/MapLayout.astro";
import Astro_Dashboard2 from "../../components/maps/joao_monlevade/astro_dashboard2.astro";
let maps = ["dashboard4", "dashboard2"];
---

<MapLayout maps={maps} title="">
  <div>
    <Astro_Dashboard2 />
  </div>
</MapLayout>
