---
import Layout from "../../layouts/Layout.astro";

let maps = [
  {
    title: "João Monlevade",
    description: "Dashboard2",
    image: "/placeholder.svg",
    link: "/astro_maps/dashboard2",
  },
  {
    title: "João Monlevade",
    description: "Dashboard4",
    image: "/placeholder.svg",
    link: "/astro_maps/dashboard4",
  },

  {
    title: "João Monlevade",
    description: "Dashboard4",
    image: "/placeholder.svg",
    link: "/astro_maps/dashboard4",
  },
  {
    title: "João Monlevade",
    description: "Dashboard4",
    image: "/placeholder.svg",
    link: "/astro_maps/dashboard4",
  },
  {
    title: "João Monlevade",
    description: "Dashboard4",
    image: "/placeholder.svg",
    link: "/astro_maps/dashboard4",
  },
  {
    title: "João Monlevade",
    description: "Dashboard4",
    image: "/placeholder.svg",
    link: "/astro_maps/dashboard4",
  },
  {
    title: "João Monlevade",
    description: "Dashboard4",
    image: "/placeholder.svg",
    link: "/astro_maps/dashboard4",
  },
];
---

<Layout title="Maps">
  <div class="w-full py-6">
    <div class="container grid items-start mx-auto gap-6 px-4 md:px-6">
      <div class="grid grid-cols-1 items-start gap-6 md:grid-cols-2">
        <div
          class="sticky top-3 space-y-2 max-md:bg-secondary max-md:p-3 max-md:text-white"
        >
          <h1 class="text-3xl font-bold tracking-tighter sm:text-5xl">
            Nossos Mapas
          </h1>
          <p
            class="text-gray-500 md:text-xl/relaxed lg:text-base/relaxe max-md:text-white"
          >
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam,
            quam autem dicta vel harum quasi tempore sunt animi in cum fugiat
            omnis fuga tempora nobis recusandae qui, consectetur est, ipsam aut.
            At sapiente quisquam molestias neque.
          </p>
        </div>

        <div class="grid grid-cols-1 gap-6">
          {
            maps.map((m) => {
              return (
                <a
                  class="grid grid-cols-1 items-end max-md:items-center gap-6 p-3 hover:bg-primary rounded-xl"
                  href={m.link}
                  hover:outline-primary
                >
                  <div class="flex flex-col w-full items-end max-md:items-center gap-1 ">
                    <>
                      <h2 class="text-xl font-semibold ">{m.title}</h2>
                      <p class="text-sm text-gray-500 dark:text-gray-400">
                        {m.description}
                      </p>
                    </>
                  </div>
                  <div class="h-[250px] rounded-lg overflow-hidden flex justify-end max-md:justify-center">
                    <img
                      src={m.image}
                      alt="Map"
                      width="500"
                      height="250"
                      class="aspect-[2/1] object-cover object-right rounded-lg overflow-hidden"
                    />
                  </div>
                </a>
              );
            })
          }
        </div>
      </div>
    </div>
  </div>
</Layout>
