---
import Layout from "../../layouts/MapLayout.astro";

let maps = [
  {
    title: "João Monlevade COVID-19 (2020-2021)",
    description: "Clique e segure no mapa para escanear casos e estatísticas sobre a COVID em um raio de 1KM",
    image: "/map_covid_2020_2021.png",
    link: "/astro_maps/joao_monlevade/map_covid_2020_2021",
  },
  {
    title: "João Monlevade COVID-19 (2021)",
    description: "Analise ruas e bairros com maior incidência de covid ",
    image: "/scene_covid_2021.png",
    link: "/astro_maps/joao_monlevade/scene_covid_2021",
  },

  {
    title: "João Monlevade - Linhas de Onibus",
    description: "Mapa das linhas de onibus da cidade de João Monlevade",
    image: "/map_onibus.png",
    link: "/astro_maps/joao_monlevade/map_onibus",
  },
  {
    title: "Divinopolis Dengue (2016)",
    description: "Analise ruas e bairros com maior incidência de dengue em 2016",
    image:"/scene_dengue_2016.png",
    link:"/astro_maps/divinopolis/scene_dengue_2016"
  },
  {
    title: "Divinopolis Dengue (2016)",
    description: "Clique e segure no mapa para escanear casos e estatísticas sobre a dengue em um raio de 1KM",
    image:"/map_dengue_2016.png",
    link:"/astro_maps/divinopolis/map_dengue_2016"
  },
  {
    title: "Divinopolis Dengue (2017)",
    description: "Clique e segure no mapa para escanear casos e estatísticas sobre a dengue em um raio de 1KM",
    image:"/map_dengue_2017.png",
    link:"/astro_maps/divinopolis/map_dengue_2017"
  },
];

---

<Layout title="Maps" maps={[]}>
  <div class="w-full py-6">
    <div class="container grid items-start mx-auto gap-6 px-4 md:px-6">
      <div class="grid grid-cols-1 items-start gap-6">
        <!-- ^ md:grid-cols-2 -->
        <div
          class="sticky top-3 space-y-2 bg-secondary p-3 text-white rounded-md"
        >
          <h1 class="text-3xl font-bold tracking-tighter sm:text-5xl">
            Nossos Mapas
          </h1>
          <p
            class=" md:text-xl/relaxed lg:text-base/relaxe text-white"
          >
            Alguns de nossos mapas.
          </p>
        </div>

        <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-6">
          {
            maps.map((m) => (
              <a
                class="grid grid-cols-1 items-end max-md:items-center gap-6 p-3 bg-gray-100 hover:bg-gray-500 shadow-sm  hover:shadow-md rounded-xl bg-300% font-bold hover:bg-gradient-to-r from-secondary via-primary to-secondary hover:text-transparent hover:bg-clip-text animate-gradient"
                href={m.link}
                hover:outline-primary
              >
                <div class="flex flex-col w-full items-center  max-md:items-center gap-1 ">
                  <>
                    <h2 class="text-xl font-semibold  ">{m.title}</h2>
                    <p class="text-lg text-gray-500 dark:text-gray-400">
                      {m.description}
                    </p>
                  </>
                </div>
                <div class="h-[250px] rounded-lg overflow-hidden flex justify-end max-md:justify-center">
                  <img
                    src={m.image}
                    alt="Map"
                    width="500"
                    height="250"
                    class="aspect-[2/1] object-cover object-right rounded-lg overflow-hidden"
                  />
                </div>
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</Layout>



<style lang="postcss">
	/* TITLE */
	.animate-gradient {
		background-size: 300%;
		-webkit-animation: animatedgradient 2s ease infinite alternate;
		-moz-animation: animatedgradient 2s ease infinite alternate;
		animation: animatedgradient 2s ease infinite alternate;
	}

	@keyframes animatedgradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
</style>
