---
import MapLayout from "../../../components/maps/joao_monlevade/MapLayout.astro";
import DashOnibus from "../../../components/maps/joao_monlevade/astro_onibus.astro";
---

<MapLayout title="">
  <div>
    <DashOnibus />
  </div>
</MapLayout>
