---
import MapLayout from "../../../components/maps/joao_monlevade/MapLayout.astro";
import Astro_Dashboard4 from "../../../components/maps/joao_monlevade/astro_dashboard4.astro";
---

<MapLayout title="">
  <div>
    <Astro_Dashboard4 />
  </div>
</MapLayout>
