---
import Hero from "../components/landing_page/Hero.astro";
import Pricing from "../components/landing_page/Pricing.astro";
import Layout from "../layouts/Layout.astro";
import Entrevistas from "../components/landing_page/Entrevistas.astro";
import Patrocinadores from "../components/landing_page/Patrocinadores.astro";
import Footer from "../components/landing_page/Footer.astro";
import Noticias from "../components/landing_page/Noticias.astro";
import Artigos from "../components/landing_page/Artigos.astro";
---

<Layout title="Home"></Layout>
  <div
    class="container h-full mx-auto flex flex-col justify-center items-center"
  >
    <nav
      class="flex justify-between w-full m-2 pr-5 fixed top-0 right-0 left-0"
    >
      <p></p>
   
      <a href="/login">

        <button class="circle-button text-white bg-secondary hover:bg-primary shadow-sm hover:shadow-2xl hover:shadow-secondary">
          Login
        </button>
      </a>

      <style>
        .circle-button {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: none;
          cursor: pointer;
          transition: background-color 0.3s;
        }
      </style>
    </nav>
    <div class="space-y-10 text-center flex flex-col items-center">
      <Hero />

      <!-- <Part1 /> -->

      <!-- <LeftCard /> -->

      <Entrevistas />
      <Artigos />
      <Noticias />

      <Pricing />

      <Patrocinadores />

      <Footer />

      <!-- <ContinueLinks /> -->
      <!-- <RightCard /> -->

      <!-- <FeatureList /> -->

      <!-- <FreeTrial /> -->
    </div>
  </div>
</Layout>
