---
import Hero from '../components/landing_page/Hero.astro';
import Pricing from '../components/landing_page/Pricing.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title='Home'>


<div class="container h-full mx-auto flex justify-center items-center">
	<div class="space-y-10 text-center flex flex-col items-center">
		<Hero />
		
		<!-- <Part1 /> -->

		<!-- <LeftCard /> -->

		<Pricing />

		<!-- <ContinueLinks /> -->
		<!-- <RightCard /> -->

		<!-- <FeatureList /> -->

		<!-- <FreeTrial /> -->
	</div>
</div>

</Layout>