---
import Hero from "../components/landing_page/Hero.astro";
import Pricing from "../components/landing_page/Pricing.astro";
import Layout from "../layouts/Layout.astro";
import Entrevistas from "../components/landing_page/Entrevistas.astro";
import Patrocinadores from "../components/landing_page/Patrocinadores.astro";
---

<Layout title="Home">
  <div class="container h-full mx-auto flex justify-center items-center">
    <div class="space-y-10 text-center flex flex-col items-center">
      <Hero />

      <!-- <Part1 /> -->

      <!-- <LeftCard /> -->

      <Entrevistas />

      <Pricing />
      <Patrocinadores />

      <!-- <ContinueLinks /> -->
      <!-- <RightCard /> -->

      <!-- <FeatureList /> -->

      <!-- <FreeTrial /> -->
    </div>
  </div>
</Layout>
