---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Maps">
  <main class="flex items-center justify-center h-screen gap-2">
    <a href="/original_maps/dashboard2" class="bg-primary rounded m-3 px-4">DashBoard2</a
    >
    <span></span>
    <a href="/original_maps/dashboard4" class="bg-primary rounded m-3 px-4">DashBoard4</a
    >
    <span></span>
    <a href="/original_maps/dashboardOnibus"></a>
  </main>
</Layout>
